body{
	
	background-color: #7FDBFF;
}

#projects{
  
}

#navbar{
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
	background: #334455;
}

#navbar li{

}

#navbar a:hover{
	color: #ccddaa;
}

section{

}

.white{
	color: #fff;
}

a{
	color: lightblue;
}